.center {
    text-align: center;
}

.body-theme1 {
    background: #ffffff;
    padding-top: 150px; 
}

.row-height {
    height: 200px; 
}

.title {
    font-family: Trebuchet MS;
    font-size: 46px;
    color: #E3625D;
}

.content {
    height:200px;
    padding-left: 10px;
    padding-right: 15px;
}

.content b {
    color: #E3625D;
}

.content a {
    color: #E3625D;
    text-decoration: none;
}

.content a:hover {
    color: black;
    text-decoration: none;
    cursor: crosshair;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
    padding-right: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    margin-bottom: 10px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: crosshair;
}

li a:hover {
    color: #E3625D;
    text-decoration: none;
}

.cool-link {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#E3625D;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .2s;
}


img {
    max-width: 100%;
    margin-bottom: 60px;
    display: block;
}


#socialtext { 
    width:100%; 
    margin: 10px auto; 
    height: 30px;
    color: #E3625D;
}
#social {
    text-align: left; 
    margin-top: 10px;
}
.social {
    border:0; 
    border-radius:0; 
    box-sizing:border-box; 
    -webkit-transition: 0.5s ease; 
    -moz-transition: 0.5s ease; 
    -ms-transition: 0.5s ease; 
    -o-transition: 0.5s ease; 
    transition: 0.5s ease;
}
.social:hover {
    background:#888; 
    border-radius: 50%;
}
.social img { 
    display: inline;
}
