body { 
    padding-top: 70px; 
}

.body-a {
    background-color: #f2f2f2;
}

.nav-fixed-a {
    background-color: white;
}

.navbar-a {
    background-color: #33cccc;
    font-family: Georgia;
    font-weight: bold;
    font-size: 2em; /* remove this, it doesn't work */
}

.h2-a {
    color: #33cccc;
    font-family: Georgia;
    font-weight: bold;
}

.thumbnail-a {
    padding: 5px;
    width: 150px;
}

.box-1 {
    /* nothing yet */

}

.box-2 {
    padding: 2em;
    background-color: white;
}

.p {
    color: slategray;
}